/**
 * @name Essential
 * @author KayoticCarnige
 * @authorId 634168893644210186
 * @authorLink https://kckarnige.is-a.dev
 * @version 1.0.0
 * @description A simple Discord theme.
 * @donate https://ko-fi.com/kckarnige
 * @source https://github.com/kckarnige/essential-theme
 * @updateUrl https://raw.githubusercontent.com/kckarnige/essential-theme/main/essential.theme.css
*/

@import url("https://raw.githubusercontent.com/kckarnige/essential-theme/main/source.css");

:root {
    --mod-saturation-factor: 0.7; /* Default is .7 */
    --mod-hue-factor: 230; /* Default hue is 230 */
    --wordmark-text-color: #72767d;
    --wordmark-text: "Discord";
}
