[class*="upperContainer_"] [class*="toolbar_"] [class*="anchor_"][class*="anchorUnderlineOnHover_"][href="https://support.discord.com"] {
    display: none;
}

[class*="notice_"] {
    height: 48px;
    line-height: 48px;
}
[class*="notice_"] [class*="button_"] {
    top: 12px;
}
[class*="notice_"] [class*="closeButton_"] {
    top: 5px;
    margin-right: 280px;
}
