@import url("https://raw.githubusercontent.com/kckarnige/essential-ui/main/source.css");

:root {
    --mod-saturation-factor: 0.7; /* Default is .7 */
    --mod-hue-factor: 230; /* Default hue is 230 */
    --wordmark-text-color: #72767d;
    --wordmark-text: "Discord";
}
